<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
<!--  <h1>Gifalicious, definition, make them boys go crazy</h1>-->
  <h1>Spring Security</h1>
</div>
<nav>
  <a routerLink="/login" routerLinkActive="active">
    <button mat-button >Login Page</button>
  </a>
  <a routerLink="/search" routerLinkActive="active">
    <button mat-button >Search</button>
  </a>
  <a routerLink="/profile" routerLinkActive="active">
    <button mat-button >Profile</button>
  </a>
</nav>
<router-outlet></router-outlet>

