.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.mat-list-item {
  min-width: 200px;
}

mat-sidenav-container {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
}

mat-sidenav-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
  padding: 8px 16px;
}
