<form class="">
  <mat-form-field class="">
    <label>
      <input matInput placeholder="Search" [value]=DEFAULT_SEARCH (keyup)="onKey($event)">
    </label>
  </mat-form-field>
</form>
<div class="gif-container">
  <app-gif-card *ngFor="let gif of gifs" [gif]=gif [style.flex-grow]=gif.fixedHeight.width></app-gif-card>
</div>
<mat-paginator [length]=searchResponse.totalCount
               [pageSize]=gifService.pageSize
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)=onPageEvent($event)>
</mat-paginator>
